<ul class="sm:columns-2 print:columns-2">
    <li class="py-2 px-4 xl:px-8">
        <i class="mx-2 bi bi-telephone text-xl" aria-hidden="true"></i>
        <span class="sr-only">Phone number:</span>
        <a href="tel:+60165190328"> +60165190328</a>
    </li>
    <li class="py-2 px-4 xl:px-8">
        <i class="mx-2 bi bi-envelope-at text-xl" aria-hidden="true"></i>
        <span class="sr-only">Email address:</span>
        <a href="mailto:chun11197@gmail.com"> chun11197@gmail.com</a>
    </li>
    <li class="py-2 px-4 xl:px-8">
        <a
            target="_blank"
            href="https://www.linkedin.com/in/jun-kang-chin-ab5387169/"
        >
            <i class="mx-2 bi bi-linkedin text-xl" aria-hidden="true"></i>
            Linkedin
        </a>
        <a class="ml-4" target="_blank" href="https://github.com/JK-1117">
            <i class="mx-2 bi bi-github text-xl" aria-hidden="true"></i>
            Github
        </a>
    </li>
    <li class="py-2 px-4 xl:px-8">
        <i class="mx-2 bi bi-geo-alt text-xl" aria-hidden="true"></i>
        <span class="sr-only">Nationalities:</span>
        Malaysian
    </li>
    <li class="py-2 px-4 xl:px-8">
        <i class="mx-2 bi bi-calendar3 text-xl" aria-hidden="true"></i>
        <span class="sr-only">Birth Date:</span>
        01 Nov 1997
    </li>
    <li class="py-2 px-4 xl:px-8">
        <i class="mx-2 bi bi-gender-male text-xl" aria-hidden="true"></i>
        <span class="sr-only">Gender:</span>
        Male
    </li>
</ul>
